
<h1>New Question Form</h1>

<form action="/questions" method="post">
  <input type="text" name="question[title]" placeholder="Title">
  <textarea class="form-control" rows="3" name="question[content]"placeholder="New Question"></textarea>
  <input type= "submit">
</form>