
<h1>New Question Form</h1>

<form action="/profile" method="post">
  <input type="text" name="question[title]" placeholder="Ttitle">
  <textarea class="form-control" rows="3"></textarea>
  <input type= "submit">
</form>