<form id="comment_form" action='/questions/<%= @question.id %>/comments/new' method='post'>
<textarea rows="10" cols="30" name="content" placeholder="Comment"></textarea>
<input type="submit" value="Create Post">
</form>
