<form id="answer_form" action='/questions/<%= @question.id %>/answers/new' method='post'>
<textarea rows="10" cols="30" name="content" placeholder="Answer"></textarea>
<input type="submit" value="Post Answer">
</form>
